* {
  box-sizing: border-box;
}

html {
  font-size: 16px;
  height: 100%;
  color: #555;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

body {
  display: flex;
  min-height: 100%;
  flex-direction: column;
  flex: 1 1 auto;
}

/* ---------------HEADER---------------- */

.header {
  display: flex;
  justify-content: center;
  color: #fff;
  background-image: linear-gradient(60deg, red, orange);
}

h1 {
  text-align: center;
}

/* ------------------MAIN------------------- */

.main {
  display: flex;
  flex-direction: column;
  flex: 1 1 auto;
}

.navigation {
  /* background-color: bisque; */
  width: 100%;
}

.section {
  /* background-color: aqua; */
  width: 100%;
  font-size: 1.25em;
  /* display: flex;
    flex-direction: column; */
}

.news {
  /* background-color: coral; */
  width: 100%;
  /* display: flex;
    flex-direction: column; */
}

.units-list {
  line-height: 1.75em;
}

.css-units {
  color: #8b0000;
  background-color: #e5e5e5;
  font-size: 1.125em;
  font-weight: 700;
}

.section__header {
  font-size: 5vw;
  text-align: center;
}

picture {
  display: flex;
  max-width: 100%;
  height: auto;
  box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.2);
}

.nav-list {
  width: 100%;
  padding: 0;
  list-style-type: none;
}

.nav-list-item {
  background-color: #808080;
  color: white;
  height: 2em;
  margin-bottom: 0.5em;
}

.nav-list-link {
  line-height: 2em;
  display: block;
  color: white;
  text-decoration: none;
  padding: 0 0.5em;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.navigation,
.section,
.news {
  /* display: flex; */
  flex: -1;
  padding: 0.5em;
}

/* -------------------FOOTER---------------------- */

.footer {
  text-align: center;
  background-color: #e5e5e5;
  padding: 0.5em;
}

@media screen and (min-width: 600px) {
  .main-content {
    display: flex;
    flex: 2;
  }

  /* .content {
    display: flex;
    flex: 2;
  } */
  .navigation {
    width: 20%;
  }

  .section {
    width: 80%;
  }
}

@media screen and (min-width: 1200px) {
  .main-full-content {
    display: flex;
  }

  .section {
    width: 60%;
  }

  .navigation {
    width: 20%;
  }

  .news {
    width: 20%;
  }
}
