* {
  box-sizing: border-box;
}

html {
  font-family: Verdana, sans-serif;
}

h1 {
  margin-left: 25%;
  margin-right: 25%;
  font-size: 74px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

header {
  text-align: center;
}

div {
  height: 200px;
  background-color: coral;
  color: white;
  text-transform: uppercase;
  text-align: center;
  line-height: 200px;
}
